# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
QuyXanh-build/
build/
dist/
.temp/
.cache/

# Environment files
.env
.env.*.local

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test coverage and reports
coverage/
*.lcov

# Misc
*.local
*.log
*.tgz

# CRA
.eslintcache
